In [1]:
#Imports
import json
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats
import os
import glob

# Loading the Data

In [2]:
## Make a filepath query
FOLDER = "Data/"
q = FOLDER+"final*.csv.gz"
q

'Data/final*.csv.gz'

In [3]:
# Use glob.glob to get COMPLETE filepaths
file_list = glob.glob(q,recursive = True)
file_list

['Data\\final_tmdb_data_2000.csv.gz',
 'Data\\final_tmdb_data_2001.csv.gz',
 'Data\\final_tmdb_data_2002.csv.gz',
 'Data\\final_tmdb_data_2003.csv.gz',
 'Data\\final_tmdb_data_2004.csv.gz',
 'Data\\final_tmdb_data_2005.csv.gz',
 'Data\\final_tmdb_data_2006.csv.gz',
 'Data\\final_tmdb_data_2007.csv.gz',
 'Data\\final_tmdb_data_2008.csv.gz',
 'Data\\final_tmdb_data_2009.csv.gz',
 'Data\\final_tmdb_data_2010.csv.gz',
 'Data\\final_tmdb_data_2011.csv.gz',
 'Data\\final_tmdb_data_2012.csv.gz',
 'Data\\final_tmdb_data_2013.csv.gz',
 'Data\\final_tmdb_data_2014.csv.gz',
 'Data\\final_tmdb_data_2015.csv.gz',
 'Data\\final_tmdb_data_2016.csv.gz',
 'Data\\final_tmdb_data_2017.csv.gz',
 'Data\\final_tmdb_data_2018.csv.gz',
 'Data\\final_tmdb_data_2019.csv.gz',
 'Data\\final_tmdb_data_2020.csv.gz',
 'Data\\final_tmdb_data_2021.csv.gz',
 'Data\\final_tmdb_data_2022.csv.gz']

In [4]:
df_list =[]
for file in file_list:
    temp_df = pd.read_csv(file,lineterminator='\r')
    df_list.append(temp_df)
len(df_list)

23

In [5]:
# # using a list comprehension to load in all files into 1 dataframe
df = pd.concat([pd.read_csv(file) for file in file_list])
df.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.100,8.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,0.000,0.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.wkw-inthemoodforlove.com/,843.0,cn,花樣年華,...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.108,1956.0,PG

In [6]:
# remove ids that are 0  and then reset index
df = df.loc[df['imdb_id']!='0']
df.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.100,8.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,0.000,0.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.wkw-inthemoodforlove.com/,843.0,cn,花樣年華,...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.108,1956.0,PG
5,tt0118852,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,49511.0,en,Chinese Coffee,...,0.0,99.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,There's a fine line between friendship and bet...,Chinese Coffee,0.0,6.900,46.0,R

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62405 entries, 1 to 1718
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                62405 non-null  object
 1   adult                  62405 non-null  float64
 2   backdrop_path          39167 non-null  object
 3   belongs_to_collection  3990 non-null   object
 4   budget                 62405 non-null  float64
 5   genres                 62405 non-null  object
 6   homepage               15368 non-null  object
 7   id                     62405 non-null  float64
 8   original_language      62405 non-null  object
 9   original_title         62405 non-null  object
 10  overview               61026 non-null  object
 11  popularity             62405 non-null  float64
 12  poster_path            56863 non-null  object
 13  production_companies   62405 non-null  object
 14  production_countries   62405 non-null  object
 15  release_date           61286 non-null  object
 16  revenue                62405 non-null  float64
 17  runtime                62405 non-null  float64
 18  spoken_languages       62405 non-null  object
 19  status                 62405 non-null  object
 20  tagline                23300 non-null  object
 21  title                  62405 non-null  object
 22  video                  62405 non-null  float64
 23  vote_average           62405 non-null  float64
 24  vote_count             62405 non-null  float64
 25  certification          15156 non-null  object
dtypes: float64(9), object(17)
memory usage: 12.9+ MB

In [8]:
## saving the combined csv to disk for any future use
df.to_csv('Data/combined_tmdb_data.csv.gz',compression= "gzip",index = False)

# Answering Stakeholder Questions with Hypothesis Testing

## Q1: Does the MPAA rating of a movie (G/PG/PG-13/R) affect how much revenue the movie generates?

### Hypotheses

- Null Hypothesis: Different MPAA ratings all generate the same amount of revenue on average.

- Alternative Hypothesis: Different MPAA ratings generate revenue at significantly different amounts.

### Separating Our Groups

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62405 entries, 1 to 1718
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                62405 non-null  object
 1   adult                  62405 non-null  float64
 2   backdrop_path          39167 non-null  object
 3   belongs_to_collection  3990 non-null   object
 4   budget                 62405 non-null  float64
 5   genres                 62405 non-null  object
 6   homepage               15368 non-null  object
 7   id                     62405 non-null  float64
 8   original_language      62405 non-null  object
 9   original_title         62405 non-null  object
 10  overview               61026 non-null  object
 11  popularity             62405 non-null  float64
 12  poster_path            56863 non-null  object
 13  production_companies   62405 non-null  object
 14  production_countries   62405 non-null  object
 15  release_date           61286 non-null  object
 16  revenue                62405 non-null  float64
 17  runtime                62405 non-null  float64
 18  spoken_languages       62405 non-null  object
 19  status                 62405 non-null  object
 20  tagline                23300 non-null  object
 21  title                  62405 non-null  object
 22  video                  62405 non-null  float64
 23  vote_average           62405 non-null  float64
 24  vote_count             62405 non-null  float64
 25  certification          15156 non-null  object
dtypes: float64(9), object(17)
memory usage: 12.9+ MB

In [10]:
#Creating a group dictionary
groups = {}
# Looping through all unique categories
for i in df['certification'].unique():
    # Get series for group and rename
    data = df.loc[df['certification']==i,'revenue'].copy()
    
    # save into the dictionary
    groups[i] = data
groups.keys()

dict_keys([nan, 'PG', 'R', 'G', 'NR', 'PG-13', 'NC-17', 'Unrated', '-', 'UR', 'Not Rated', 'ScreamFest Horror Film Festival', 'R ', 'PG-13 ', '10'])

In [11]:
df2= pd.read_csv('Data\\final_tmdb_data_2022.csv.gz')
df2.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0120589,0.0,/japrW22Wq46UXhYLE2XLh0o9g7U.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,649985.0,pt,Predestinado: Arigó e o Espírito do Dr. Fritz,...,0.0,0.0,"[{'english_name': 'Portuguese', 'iso_639_1': '...",Released,NaN,Predestinado: Arigó e o Espírito do Dr. Fritz,0.0,0.000,0.0,NaN
2,tt0219769,0.0,/m6ZTaNpb0UIXcPy4QF17aVBNxMJ.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,91418.0,en,Her Private Hell,...,0.0,84.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Her Private Hell,0.0,4.667,6.0,NaN
3,tt0265705,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,312394.0,en,Saurians,...,0.0,83.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The Age of The Dinosaurs is Reborn!,Saurians,0.0,9.000,1.0,NaN
4,tt0326716,0.0,/oLyQu5QAR1w7e8roeveNiZXS5kN.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",http://5-25-77themovie.com,199734.0,en,5-25-77,...,0.0,135.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some days are just better than others.,5-25-77,0.0,5.000,5.0,NR